{% extends 'KoreProductBundle::base.html.twig' %}
{% use 'KoreProductBundle::navbar.html.twig' %}
{% use 'KoreProductBundle::sidebar.html.twig' %}
{% use 'KoreProductBundle::icons.html.twig' %}

{% set translation_domain = 'KoreProductBundle' %}
{% trans_default_domain translation_domain %}

{% block title %}{{ 'order.index.title'|trans }}{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="row" id="page-header">
            <div class="col-lg-12">
                <h1 class="page-header">{% block icons %}{{ parent() }}{% endblock %}{{ 'order.index.title'|trans }}</h1>
                {% include 'KoreProductBundle::flashbag.html.twig' with { 'translation_domain': translation_domain } %}
            </div>
        </div>
        <!-- /#page-header -->

        <div class="row" id="page-toolbar">
            <div class="col-lg-12">
                <div class="btn-toolbar">
                    <a type="button" class="btn btn-default" href="{{ path('order_index') }}">{{ icon('list') }}&nbsp;{{ 'order.index.link'|trans }}</a>
                </div>
            </div>
        </div>
        <!-- /#page-toolbar -->

        <div class="row" id="page-new">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'order.new.title'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        {{ form_start(newForm, { 'style': 'horizontal' }) }}
                            {{ form_widget(newForm) }}
                                <div class="form-group"><div class="col-lg-offset-4 col-lg-8">
                                    <button type="submit" class="btn btn-primary">{{ icon('save') }}&nbsp;{{ 'order.new.submit'|trans }}</button>
                                </div></div>
                        {{ form_end(newForm) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-new -->

    </div>
    <!-- /#page-wrapper -->

{% endblock %}


